.picker {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: var(--or-radius);
	padding: var(--or-space);
	background-color: var(--or-bg-base);
	min-width: 100px;

	&[data-no_bg] {
		background-color: none;
	}

	&_label {
		font-size: var(--or-font-xs);
		color: var(--or-text-dim);
		padding: var(--or-space) 0;
	}

	&_list {
		max-height: 300px;
		overflow-y: auto;
		overflow-x: hidden;

		&_inner {
			position: relative;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.item {
	padding: var(--or-space) calc(var(--or-space) * 0.5);
	cursor: pointer;

	&:hover {
		background-color: var(--or-bg-hover);
	}
}