.node {
	font-size: var(--or-font-sm);
	color: var(--or-text-muted);

	&[data-no_export="true"] {
		color: var(--or-text-dim);
	}
}

.self {
	&_name {
		flex: 1;
		display: flex;
		align-items: center;
		padding-left: 2px;
		overflow: hidden;

	}
}

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	flex-shrink: 0;
	opacity: 0.7;
}

.selectable {
	width: 20px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--or-text-dim);
	opacity: 0;
	flex-shrink: 0;

	.self:hover & {
		opacity: 1;
	}

	@media (hover: none) {
		opacity: 1;
	}

	&[data-selectable="false"] {
		opacity: 1;
		color: var(--or-text-dim);
	}

	&:hover {
		color: var(--or-text);
	}
}

.visibility {
	width: 20px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	color: var(--or-text-dim);
	opacity: 0;
	flex-shrink: 0;

	.self:hover & {
		opacity: 1;
	}

	@media (hover: none) {
		opacity: 1;
	}

	&[data-visible="false"] {
		opacity: 1;
		color: var(--or-text-dim);
	}

	&:hover {
		color: var(--or-text);
	}
}

.menu {
	width: 24px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: var(--or-font-sm);
	color: var(--or-text-dim);
	opacity: 0;
	flex-shrink: 0;

	.self:hover & {
		opacity: 1;
	}

	@media (hover: none) {
		opacity: 1;
	}

	&:hover {
		color: var(--or-text);
	}
}

.fold {
	width: 20px;

	&_button {
		position: relative;
		display: block;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		[data-hnode_open="true"] & {
			span {
				transform: rotate(90deg);
			}
		}
	}
}

.child {
	position: relative;

	&_line {
		position: absolute;
		display: block;
		top: 0;
		height: 100%;
		width: 1px;
		position: absolute;
		left: 5px;
		background-color: var(--or-text-muted);
	}

	&[data-open="false"] {
		display: none;
	}
}
