@use '../../../../styles' as *;

.detail {
	padding: $padding 0;
}

.row {
	display: flex;
	align-items: center;
	min-height: var(--or-list-row-height);
	padding: 0 $padding;

	&_label {
		width: 120px;
		font-size: $fontSize1;
		color: $fontCol3;
	}

	&_value {
		flex: 1;
	}
}
