@use '~/styles/common' as *;

.compoView {
	width: 100%;
	// border-radius: 4px;
	// margin-bottom: 5px;
}

.head {
	display: flex;
	align-items: center;
	width: 100%;
}

.check {
	margin-left: auto;
}