@use '~/styles/common' as *;

.value {
	display: inline-flex;
	align-items: center;
	width: 100%;
	margin-bottom: 1px;

	&[data-value_vertical="true"] {
		flex-direction: column;
	}

	&_label {
		font-size: $fontSize1;
		margin-right: 8px;
		width: 60px;
		text-align: right;
		overflow: hidden;
		color: $fontCol3;

		[data-value_vertical="true"] & {
			width: 100%;
			text-align: left;
			margin-right: 0;
		}

		&[data-auto_width="true"] {
			width: auto;
		}

	}

	&_value {
		width: 100%;
		text-align: center;
		color: $fontCol2;
		flex: 1;
	}


}

.input {
	flex: 1;

	&_value {

		&[data-disable="true"] {
			opacity: 0.5;
			pointer-events: none;
		}
	}



}