.container {
	position: relative;
	width: 100%;
	height: 100%;
	touch-action: none;

	canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		touch-action: none;
	}
}