@use '~/styles/common' as *;

.picker {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: $radius1;
	padding: $padding;
	background-color: $bgColWindow0;
	border-radius: $radius1;
	min-width: 100px;

	&[data-no_bg] {
		background-color: none;
	}

	&_label {
		font-size: $fontSize1;
		color: $fontCol3;
		padding: $padding 0;
	}

	&_list {
		max-height: 300px;
		overflow-y: auto;
		overflow-x: hidden;

		&_inner {
			position: relative;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
}

.item {
	padding: $padding $padding * 0.5;
	cursor: pointer;

	&:hover {
		background-color: $bgCol2;
	}
}