@use '~/styles/common' as *;

.compoAdd {}

.picker {
	position: absolute;

	&_inner {
		position: relative;
		width: 150px;
		max-height: 100px;
		overflow-y: auto;
	}
}

.argsInput {
	position: relative;
	background-color: $bgColWindow0;
	border-radius: $radius1;
	padding: 5px 0;
	width: 200px;
}