@use '~/styles/common' as *;

.compoAdd {}

.picker {
	position: absolute;

	&_inner {
		position: relative;
		width: 150px;
		max-height: 100px;
		overflow-y: auto;
	}
}

.argsInput {
	background-color: $bgColWindow0;
	position: absolute;
	z-index: 1;
	left: 160px;
	border-radius: $radius1;
}