@use 'styles' as *;

.inputSelect {
	width: 100%;
}

.input {
	padding: var(--or-input-padding);
	text-align: center;
	width: 100%;
	border-radius: $radius1;
	background-color: $bgCol2;
	border: none;
	color: $fontCol2;
	font-size: var(--or-input-font-size);
}
