.arrow {
	display: inline-block;

	svg {
		transition: transform .3s;

		path {
			fill: var(--or-text-muted);
		}
	}

	&[data-direction="down"] svg {
		transform: rotate(90deg);
	}

	&[data-direction="left"] svg {
		transform: rotate(180deg);
	}

	&[data-direction="up"] svg {
		transform: rotate(-90deg);
	}

	&[data-open="true"] {

		svg {
			transform: rotate(90deg);
		}
	}
}