.inputNumber {}

.input {
	padding: var(--or-input-padding);
	text-align: center;
	width: 100%;
	border-radius: var(--or-radius);
	background-color: var(--or-bg-surface);
	border: none;
	cursor: ew-resize;
	color: var(--or-text-muted);
	font-size: var(--or-input-font-size);

	&:disabled {
		opacity: 0.3;
	}

	&:read-only {
		color: var(--or-text-muted);
		border: none;
		outline: none;
		cursor: default;

		&[data-lo="true"] {
			background-color: transparent;
		}
	}
}
