@use '~/styles/common' as *;

.block {
	width: 100%;
}

.head {

	display: flex;
	cursor: pointer;
	align-items: center;

	&_icon {
		height: 100px;
	}

	&_text {
		display: inline-block;
		user-select: none;
		color: $fontCol2;
		padding-left: 5px;
		flex: 1;
	}

}

.content {
	padding: 2px 0;
	padding-top: 8px;
}