@use '../../../../styles' as *;

.detail {
	border-top: 1px solid $bgCol3;
	margin-top: $padding;
}

.path {
	font-size: $fontSize1;
	color: $fontCol3;
	padding: 2px $padding;
	word-break: break-all;
}

.actions {
	padding: $padding;
}
