@use '~/styles/common' as *;

.panel {
	width: 100%;
	height: 100%;
	background-color: $bgCol1;
}

.header {
	width: 100%;
	height: 18px;
	padding: 0 5px;
	background-color: $bgCol2;
	font-size: $fontSize1;

	&_title {
		user-select: none;
	}
}

.content {
	padding: $padding;
	font-size: $fontSize2;
	overflow-y: auto;

	width: 100%;
	height: 100%;
}