@use '~/styles/common' as *;

.inputSelect {
	width: 100%;
}

.input {
	padding: 3px 5px;
	text-align: center;
	width: 100%;
	border-radius: $radius1;
	background-color: $bgCol2;
	border: none;

	&:disabled {
		opacity: 0.5;
		pointer-events: none;
	}

	&:read-only {
		color: $fontCol3;
		background-color: transparent;
		border: none;
		outline: none;
		cursor: default;
	}
}