@use '~/styles/common' as *;

.inputSelect {
	width: 100%;
}

.input {
	padding: 3px 5px;
	text-align: center;
	width: 100%;
	border-radius: $radius1;
	background-color: $bgCol2;
	border: none;
	color: $fontCol2;
}