@use './variables' as *;

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
	color: $fontCol2;

	&::-webkit-scrollbar {
		width: 5px;
	}

	&::-webkit-scrollbar-track {
		background-color: $bgCol1;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $bgCol2;
	}
}

html,
body {
	background-color: #000;
	color: $fontCol1;
	font-size: $fontSize2;
	width: 100%;
}

select:focus {
	outline: $focusCol 1px solid;
}

input:focus {
	outline: $focusCol 1px solid;
}

button {
	background-color: transparent;
	color: $fontCol1;
	border: none;
	padding: 0;
	cursor: pointer;
}