$width-middle: 1200px;
$width-tab: 1000px;
$sp-width: 800px;

$bgCol0: #000;
$bgCol1: #111;
$bgCol2: #222;
$bgCol3: #555;

$fontCol1: #ccc;
$fontCol2: #aaa;
$fontCol3: #555;

$fontSize1: 12px;
$fontSize2: 16px;
$fontSize3: 18px;

$padding: 5px 5px;