$width-middle: 1200px;
$width-tab: 1000px;
$sp-width: 800px;

$focusCol: #999;


$bgCol0: #050505;
$bgCol1: #181818;
$bgCol2: #2a2a2a;
$bgCol3: #333;
$bgCol4: #555;

$bgColWindow0: rgba(#000, 0.9);

$fontCol1: #ccc;
$fontCol2: #aaa;
$fontCol3: #777;

$fontSize1: 10px;
$fontSize2: 12px;
$fontSize4: 16px;
$fontSize5: 18px;

$padding: 5px;

$radius1: 3px;