@use 'styles' as *;

.inputColor {}

.input {
	display: block;
	width: 100%;
	height: 20px;
	padding: 0;
	border: none;
	border-radius: $radius1;
	background-color: $bgCol2;
	cursor: pointer;

	&::-webkit-color-swatch-wrapper {
		padding: 2px;
	}

	&::-webkit-color-swatch {
		border: none;
		border-radius: $radius1;
	}

	&:disabled {
		opacity: 0.3;
		cursor: default;
	}
}
