@use '../../../styles' as *;

.assetViewer {
	display: flex;
	flex-direction: column;
	height: 100%;
	font-size: $fontSize2;
}

.toolbar {
	display: flex;
	align-items: center;
	border-bottom: 1px solid $bgCol2;
	flex-shrink: 0;
}

.content {
	flex: 1;
	overflow-y: auto;
}
