@use 'styles' as *;

.timeline {
	width: 100%;
	height: 100%;
}

.inner {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;

}

.content {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	flex: 1;
}

.channels {
	flex-shrink: 0;
	width: calc(var(--or-space) * 36);
	height: 100%;

	@include sp {
		width: calc(var(--or-space) * 24);
	}
}

.setting {
	width: 150px;

	@include sp {
		width: 100px;
	}
}