@use '~/styles/common' as *;

.arrow {
	display: inline-block;

	svg {
		transition: transform .3s;

		path {
			fill: $fontCol2;
		}
	}

	&[data-open="true"] {

		svg {
			transform: rotate(90deg);
		}
	}
}