@use '~/styles/common' as *;

.block {
	width: 100%;
	padding: 0 5px;
	margin-bottom: 5px;

	&[data-bg="true"] {
		background-color: $bgCol0;
		border-radius: $radius1;
		padding: 5px 5px;
	}
}

.head {
	display: flex;
	align-items: center;

	&[data-accordion="true"] {
		cursor: pointer;
	}

	&_icon {
		padding-right: 5px;
	}

	&_text {
		display: inline-block;
		user-select: none;
		color: $fontCol2;
		flex: 1;
	}

}

.content {
	padding: 2px 0;
	padding-top: 5px;
	padding-left: 2px;
}