@use '~/styles/common' as *;

.block {
	width: 100%;
	margin-bottom: 5px;

	&[data-nomargin="true"] {
		margin: 0;
	}

	&[data-bg="true"] {
		background-color: $bgCol0;
		border-radius: $radius1;
		padding: 5px 5px;
	}
}

.head {
	display: flex;
	align-items: center;

	&[data-open="true"] {
		margin-bottom: 4px;
	}

	&_icon {
		padding-right: 5px;
		display: inline-block;

		&[data-accordion="true"] {
			cursor: pointer;
		}
	}

	&_text {
		display: inline-block;
		user-select: none;
		color: $fontCol2;
		flex: 1;
	}

}

.content {
	padding: 2px 5px;

	&[data-no_indent="true"] {
		padding-left: 0px;
		padding-right: 0px;
	}
}