@use '../../../styles' as *;

.screen {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	position: relative;
	width: 100%;
	height: var(--or-screen-header-height);
	background-color: $bgCol0;
	text-align: center;
	font-weight: bold;
	font-size: var(--or-tab-font-size);
	border-bottom: 1px solid $bgCol1;
	color: $fontCol3;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-top: 2px;

	&_tabs {
		display: flex;
		height: 100%;
	}

	&_tab {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: var(--or-tab-padding);
		cursor: pointer;
		user-select: none;
		color: $fontCol3;

		&[data-active='true'] {
			color: $fontCol1;
			background-color: $bgCol2;
		}

		&:hover {
			background-color: $bgCol2;
		}
	}

	&_gizmoMode {
		display: flex;
		gap: 2px;
		margin-left: 8px;
		height: 100%;
	}

	&_gizmoBtn {
		padding: 0 6px;
		cursor: pointer;
		opacity: 0.5;
		font-size: 12px;
		display: flex;
		align-items: center;
		user-select: none;

		&[data-active='true'] {
			opacity: 1.0;
			background: $bgCol2;
		}

		&:hover {
			background-color: $bgCol2;
		}
	}

	&_right {
		position: absolute;
		display: flex;
		right: 10px;
		height: 100%;

		@include sp {
			right: 5px;
		}
	}

	&_item {
		display: inline-block;
		height: 100%;
		display: flex;
		align-items: center;
		margin-right: 20px;

		@include sp {
			margin-right: 8px;
		}
	}
}

.content {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.canvas {
	flex: 1;
}

.audioView {
	height: 100px;

	@include sp {
		height: 50px;
	}
}

.externalBtn {
	height: 100%;
	padding: 1px 0 4px;

	svg {
		display: block;
		height: 100%;
	}
}
