@use '~/styles/common' as *;

.button {
	width: 100%;
	height: 100%;
	background-color: $bgCol2;
	border-radius: $radius1;
	padding: 4px 0;
	font-size: $fontSize2;

	&:hover {
		background-color: $bgCol3;
	}
}