@use '~/styles/common' as *;

.screen {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
	position: relative;
	width: 100%;
	height: 30px;
	background-color: $bgCol0;
	text-align: center;
	font-weight: bold;
	font-size: $fontSize2;
	border-bottom: 1px solid $bgCol1;
	color: $fontCol3;
	display: flex;
	align-items: center;
	justify-content: center;

	&_right {
		position: absolute;
		display: flex;
		right: 10px;
		height: 100%;
	}

	&_item {
		display: inline-block;
		height: 100%;
		display: flex;
		align-items: center;
	}
}

.content {
	position: relative;
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
}

.canvas {
	flex: 1;
}

.audioView {
	height: 100px;

	@include sp {
		height: 50px;
	}
}