@use '~/styles/common' as *;

.editor {
	width: 100vw;
	height: 100dvh;
	overflow: hidden;
}

.vert {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.horiz {
	flex: 1;
	display: flex;

	@include sp {
		flex-direction: column;
	}
}

.preview {
	flex: 1;
}

.controls {
	height: 300px;
	max-height: 300px;
}

.hierarchy {
	width: 300px;
}

.property {
	width: 50%;
	max-width: 300px;

	@include sp {
		width: 100%;
		max-width: none;
		height: 200px;
	}
}