@use '~/styles/common' as *;

.editor {
	width: 100vw;
	height: 100dvh;
	overflow: hidden;
}

.vert {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.horiz {
	flex: 1;
	display: flex;

	@include sp {
		flex-direction: column;
	}
}

.preview {
	flex: 1;

	@include sp {
		order: 1;
	}
}

.controls {
	height: 180px;

	@include sp {
		height: 49dvh;
		max-height: 300px;
	}
}

.hierarchy {
	width: 300px;
	height: 100%;

	@include sp {
		width: 100%;
		height: 25dvh;
		order: 2;
	}
}

.property {
	width: 50%;
	max-width: 300px;
	height: 100%;

	@include sp {
		width: 100%;
		max-width: none;
		height: 25dvh;
		order: 3;
	}
}